@{
    var siteSetting = Html.Setting<AppSiteSetting>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(ViewBag.Title == null ? "" : ViewBag.Title + " - ")@siteSetting.SiteName</title>
    <meta charset="utf-8" />
    <meta http-equiv="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @RenderSection("header", required: false)
</head>
<body class="preload">

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
