
@section header{
	<style>
		body{background-color:#eee}
	</style>
}

<div style="font-family:Impact;font-size:80px;color:#bbb;letter-spacing:10px; text-align:center;padding:200px;">BCA Back Service</div>

@section scripts{
	<script>
	</script>
}
